:host {
  display: grid;
  height: 100vh;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
  width: 90%;
  margin: 30px 0;
  justify-self: center;
  transition: margin-left 0.3s ease;
}

@media screen and (max-width: 575px) {
  .products.active {
    margin-left: 100px;
  }
}
